<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loginForm.css">
    <title>Log In</title>
</head>
<body>
    <div class="main-container">
        <h1>Inicia sesión</h1>
        <form id="formulario" action="/login" method="POST">
            <div class="input-block">
                <label for="username">Username</label>
                <input name="username" type="text" placeholder="Username">
            </div>

            <div class="input-block">
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="Password">
            </div>
            
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>